<% content_for :title do %>
  <%=@title%>
<% end %>

 <div class="main-container">
        <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="assets/new.png" />
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="uppercase mb0">Drop Us a Line</h3>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="p0">
                <div class="map-holder pt160 pb160">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3989.811207093865!2d34.748901!3d-0.10819199999999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182aa4ed4766f207%3A0xd545cde738268ce6!2sLakeHub!5e0!3m2!1sen!2ske!4v1444143509960"></iframe>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-5">
                            <h4 class="uppercase">Get In Touch</h4>
                            <p>
                                At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                            </p>
                            <hr>
                            <p>
                                438 Innovation Lane
                                <br /> Kisumu, Kenya
                                <br /> P.O Box 3184
                            </p>
                            <hr>
                            <p>
                                <strong>E:</strong> hello@villagecode.org
                                <br />
                                <strong>P:</strong> +254 721 669 961
                                <br />
                            </p>
                        </div>
                        <div class="col-sm-6 col-md-5 col-md-offset-1">
                            <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                                <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                                <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                                <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                                <input type="submit" value="Send Message" />
                            </form>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
