        <div class="main-container">
            <section class="pt160 pb160 image-bg overlay">
                <div class="background-image-holder">
                    <img alt="Background" class="background-image" src="assets/sawa1.jpg" />
                </div>
                <div class="container">
                    <div class="row v-align-children">
                        <div class="col-sm-12 mb-xs-80">
                            <h2 class="mb16">Bridging the digital divide,
                                <br class="hidden-sm" /> Empowering youths through technology</h2>
                            <h6 class="uppercase mb32">Workshops, Camps and after school programs for kids and teens</h6>
                            <a class="btn btn-filled btn-lg mb0" href="#">Learn More</a>
                        </div>
                        
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="uppercase color-primary mb40 mb-xs-24">The Village Code Vision</h3>
                            <h4>In an increasingly Tech centric world Village code aims to bridge the rapidly expanding digital divide.Through workshops, camps and after school programs Village Code is empowering youths in Western Kenya with skills covering programming, design, entrepreneurship and so much more. Through collaborative, youth-centred fun learning Village Code is transforming youth in Western Kenya from Spectators to Participants in the digital economy.</h4>
                        </div>
                    
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="uppercase text-left color-primary mb40 mb-xs-24">Upcoming Events</h3>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-10">
                                <div class="tabbed-content button-tabs">
                                    <ul class="tabs fourths mb64 mb-xs-24">
                                        <li class="active">
                                        <div class="tab-title">
                                            <span>Ages 7-10</span>
                                        </div>
                                        <div class="tab-content text-left">
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar1.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">9:30am - 10:30am</h6>
                                                        <h4>Introduction to Programming</br> 12/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar2.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">11:00am - 12:00pm</h6>
                                                        <h4>Photo Editing Basics</br> 13/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                        </div>
                                    </li>
                                           <li>
                                        <div class="tab-title">
                                            <span>Ages 8-11</span>
                                        </div>
                                        <div class="tab-content text-left">
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar3.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">1:30pm - 02:30pm</h6>
                                                        <h4>Beginner Mobile Game Development</br> 16/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda.
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar4.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">3:00pm - 4:00pm</h6>
                                                        <h4>Introduction To HTML</br> 12/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Ages 10-13</span>
                                        </div>
                                        <div class="tab-content text-left">
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar3.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">1:30pm - 02:30pm</h6>
                                                        <h4>Mobile Game Development</br> 11/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda.
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar4.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">3:00pm - 4:00pm</h6>
                                                        <h4>Building a complete website from Scratch</br> 10/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab-title">
                                            <span>Ages 12-16</span>
                                        </div>
                                        <div class="tab-content text-left">
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar5.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">5:30pm - 06:30pm</h6>
                                                        <h4>Blasting Pesky Bugs</br> 8/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                            <div>
                                                <div class="overflow-hidden">
                                                    <img alt="Pic" class="mb24 pull-left" src="assets/avatar6.png" />
                                                    <div class="pull-left p32 p0-xs pt24">
                                                        <h6 class="uppercase mb8 number">7:00pm - 08:00pm</h6>
                                                        <h4>Dive into Linux</br> 12/09/2015</h4>
                                                    </div>
                                                </div>
                                                <p>
                                                    At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda.
                                                </p>
                                                <a class="btn btn-sm" href="#">Register</a>
                                                <hr class="mt40 mb40 mt-xs-0 mb-xs-24">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!--end of button tabs-->
                        </div>
                    </div>
                    
                    </div>
                    <!--end of row-->
                     <div class="row text-center text-left-xs">
                        <a class="btn btn-lg" href="#">View All</a>
                    </div>
                </div>
                <!--end of container-->
            </section>       
            <section class="bg-secondary">
                <div class="container">
                    <div class="row mb64 mb-xs-24">
                        <div class="col-sm-12 text-left">
                            <h3 class="uppercase">OUR AWESOME TEAM</h3>
                            <p class="lead">Village Code is run by a team of volunteers who passionately believe in the power of technology to transform lives.The team is dedicated to empowering kids through hands on skills transfer to help them on their way to becoming tomorrow's IT talent. 
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row mb64 mb-xs-24">
                        <div class="col-md-12 p0">
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/james.jpg" />
                                <h5 class="mb0">Odede James</h5>
                                <h6 class="uppercase">CEO @ MOBIDAWA</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/chandi.jpg" />
                                <h5 class="mb0">Chandi Tome</h5>
                                <h6 class="uppercase">Designer @ LAKEHUB</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/finale.jpg" />
                                <h5 class="mb0">Chris Odhiambo</h5>
                                <h6 class="uppercase">DESIGNER @ LAKEHUB</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/winnie.jpg" />
                                <h5 class="mb0">Winnie Rabera</h5>
                                <h6 class="uppercase">DEVELOPER @ WTM</h6>
                            </div>
                        </div>
                        <div class="col-md-12 p0">
                             <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/mike.jpg" />
                                <h5 class="mb0">Mike Otieno</h5>
                                <h6 class="uppercase">CEO @ TULASOFTCREATIVE</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/sigu.jpg" />
                                <h5 class="mb0">Sigu Magwa</h5>
                                <h6 class="uppercase">DEVELOPER @ EKODI</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/percy.jpg" />
                                <h5 class="mb0">Percy Njira</h5>
                                <h6 class="uppercase">DEVELOPER @ WTM</h6>
                            </div>
                            <div class="col-sm-3 text-left mb40 mb-xs-24">
                                <img alt="Pic" class="mb24" src="assets/dorothy.jpg" />
                                <h5 class="mb0">Dorothy O</h5>
                                <h6 class="uppercase">DEVELOPER @ WTM</h6>
                            </div>
                           
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                         <div class="col-md-12 text-center text-left-xs">
                        <a class="btn btn-lg" href="/volunteer">Volunteer</a>
                    </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
             <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-left">
                            <h3 class="uppercase mb16">Our Partners</h3>
                            <p class="lead mb64">
                                At Village Code, we're really gratefull to the companies and organizations who appreciate what we are doing and go out of their way to support us.They help to make what we do possible.
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="logo-carousel">
                            <ul class="slides center">
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l1.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l5.png" />
                                    </a>
                                </li> 
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l3.png" />
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l4.png" />
                                    </a>
                                </li>
                                <!--
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l1.png" />
                                    </a>
                                </li> 
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l2.png" />
                                    </a>
                                </li> -->
                                <!-- <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l3.png" />
                                    </a>
                                </li> --><!-- 
                                <li>
                                    <a href="#">
                                        <img alt="Logo" src="assets/l4.png" />
                                    </a>
                                </li> -->
                            </ul>
                        </div>
                        <!--end of logo slider-->
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="overlay fullscreen parallax image-bg pt0 pb0">
                <div class="background-image-holder">
                    <img alt="Background" class="background-image" src="assets/mtoi.jpg" />
                </div>
                <div class="container v-align-transform">
                    <div class="row">
                        <div class="col-sm-8 text-left">
                            <h2>At Village Code we believe digital literacy is just as important as reading and writing, maybe even more!</h2>
                            <h4 class="pb48 pb-xs-24">Join us in this brave new world</h4>
                            <a class="btn btn-lg" href="#">Get Involved</a>

                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>  
        </div>
        <div class="foundry_modal text-left image-bg overlay" data-cookie="signup-form-dismissed" data-time-delay="3000">
      <div class="background-image-holder">
        <img alt="Background" class="background-image" src="assets/africacode.jpg" />
      </div>
      <h3 class="uppercase bold">Get Free introduction<br /> to programming training</h3>
      <p class="lead mb48">
      VillageCode in collaboration with Lakehub and Africa Code Week is hosting a free introduction to programming class.
      </p>
      <h3 class="uppercase bold">10-10-2015<br /> Venue:Lakehub</h3>
      <a class="btn btn-filled btn-lg mb0" href="#">Register Now</a>
    </div>