<% content_for :title do %>
  <%=@title%>
<% end %>


        <div class="main-container">
        <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="assets/raspberry.jpg" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="uppercase mb8">Natujenge</h2>
                            <p class="lead mb0">Let Us Build</p>
                        </div>
                      
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12">
                            <h3 class="uppercase color-primary mb40 mb-xs-24">We Make</h3>
                            <h4>We are on a Mission to become the leading resource for youth in Western Kenya to become passionate creators of technology and not merely consumers, through hands on social and collaborative learning of technical skills</h4>
                        </div>
                    
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="image-square right bg-secondary">
                <div class="col-md-6 image">
                    <div class="background-image-holder overlay">
                        <img alt="image" class="background-image" src="assets/masinde.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <div class="text-right text-left-xs">
                        <h2 class="uppercase">Cool<br />Projects</h2>
                        <p>
                            Showcase your projects in a positively charged environment,<br /> to achieve our own goals. Groups are made up of 10 - 15 people<br /> and cater to all ability levels.
                        </p>
                        <h6 class="uppercase mb8">Come to any session</h6>
                        <h6 class="uppercase mb8">Multi-session discounts</h6>
                        <h6 class="uppercase mb8">Train with friends</h6>
                        <a class="btn btn-lg mt32 mb0" href="#">Book A Session Now</a>
                    </div>
                </div>
            </section>
            <section class="image-square left">
                <div class="col-md-6 image">
                    <div class="background-image-holder overlay">
                        <img alt="image" class="background-image" src="assets/mecha.jpg" />
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 content overflow-hidden">
                    <div>
                        <h2 class="uppercase">Mecha <br />Mind</h2>
                        <p>
                            Perfect for those who need to get their feet wet<br />Make cool projects with the Raspberry Pi<br /> that we'll monitor together.
                        </p>
                        <h6 class="uppercase mb8">Flexible booking times</h6>
                        <h6 class="uppercase mb8">Personal Advice</h6>
                        <h6 class="uppercase mb8">Multi-session discounts</h6>
                        <h6 class="uppercase mb8">Weekly progress tracking</h6>
                        <a class="btn btn-lg mt32 mb0" href="#">Book A Session Now</a>
                    </div>
                </div>
            </section>
            <section class="bg-dark">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2 text-center">
                            <a href="#">
                                <h2 class="uppercase color-primary mb16">#wemake</h2>
                            </a>
                            <h6 class="uppercase">Follow Us For Updates</h6>
                        </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
            </section>