<% content_for :title do %>
  <%=@title%>
<% end %>


        <div class="main-container">
        <section class="page-title page-title-4 image-bg overlay parallax">
                <div class="background-image-holder">
                    <img alt="Background Image" class="background-image" src="assets/new.png" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="uppercase mb8">Support What We Do</h2>
                            <p class="lead mb0">Be one of our awesome partners!</p>
                        </div>
                      
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
           
           <section class="image-square left">
                <div class="col-md-6 image">
                    <div class="background-image-holder overlay">
                        <img alt="image" class="background-image" src="assets/girls.jpg" />
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 content">
                    <h4 class="uppercase">The Brave New World</h4>
                    <p>
                        Our Awesome partners make what we do possible. Join us in this brave new world At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident,
                    </p>
                    <hr>
                    
                </div>
            </section>
            <section class="image-square right">
                <div class="col-md-6 image">
                    <div class="background-image-holder overlay">
                        <img alt="image" class="background-image" src="assets/innovate.jpg" />
                    </div>
                </div>
                <div class="col-md-6 content">
                    <form class="form-email" data-success="Thanks for your submission, we will be in touch shortly." data-error="Please fill all fields correctly.">
                        <h6 class="uppercase text-left">Send A Message</h6>
                        <input type="text" class="validate-required" name="name" placeholder="Your Name" />
                        <input type="text" class="validate-required validate-email" name="email" placeholder="Email Address" />
                        <textarea class="validate-required" name="message" rows="4" placeholder="Message"></textarea>
                        <input type="submit" value="Send Message" />
                    </form>
                </div>
            </section>