<div class="main-container">
 <section>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h4 class="uppercase mb16">Edit Blog Post</h4>
                            <p class="lead mb64">
                                Using Bootstrap classes for button sizes (.btn, .btn-sm, .btn-lg)
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <input type="text" placeholder="Post title " />
                            <input type="text" placeholder="Password Input" />
                            
                            <div class="input-with-label text-left">
                                <span>Input With Outer Label:</span>
                                <textarea placeholder="Content" rows="3"></textarea>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
</div>