<div class="nav-container">
            <a id="top"></a>
            <nav>
                <%if current_user%>
                <div class="nav-utility">
                        <div class="module left">
                            <i class="ti-user">&nbsp;</i>
                            <span class="sub"><%=link_to current_user.name, current_user%></span>
                        </div>
                        <div class="module left">
                            <i class="ti-id-badge">&nbsp;</i>
                            <%if current_user.roles.size>1%>
                                
                            <%elsif current_user.roles.size==1 %>
                                <span class="sub"><%=current_user.roles.first.name.humanize%></span>
                            <%end%>
                        </div>
                        <div class="module right">
                          <%= link_to "<i class='ti-unlock'>&nbsp;</i>".html_safe, destroy_user_session_path, :method=>'delete' %>
                        </div>
                    </div>
                    <%end%>
                <div class="nav-bar">
                    <div class="module right">
                        <a href="/">
                            <img class="logo logo-light" alt="VillageCode" src="/assets/logo.png" />
                            <img class="logo logo-dark" alt="VillageCode" src="/assets/logo.png" />
                        </a>
                    </div>
                    <div class="module widget-handle mobile-toggle left visible-sm visible-xs">
                        <i class="ti-menu"></i>
                    </div>
                    <div class="module-group left">
                        <div class="module left">
                            <ul class="menu">
                                <li>
                                    <a href="/">
                                        Home
                                    </a>
                                </li>
                                <li>
                                    <a href="/about">
                                        About
                                    </a>
                                </li>
                                <li class="has-dropdown text-center text-left-xs">
                                    <a href="#">
                                        Our Initiatives
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/codeclub">
                                                Code Club
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/tbc">
                                                Teen Business Challenge
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/make">
                                                We Make
                                            </a>
                                        </li>
                                    </ul>    
                                </li>
                                <li class="has-dropdown text-center text-left-xs">
                                    <a href="#">
                                        Get Involved
                                    </a>
                                    <ul>
                                        <li>
                                            <a href="/volunteer">
                                                Volunteer
                                            </a>
                                        </li>
                                        <li>
                                            <a href="/sponsor">
                                                Sponsor
                                            </a>
                                        </li>
                                        
                                    </ul>
                                </li>
                                <li>
                                    <a href="/blog">
                                        Blog
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact">
                                        Contact
                                    </a>
                                </li>
                                <%if can? :manage, User%>
                                <li>
                                    <a href="/users">
                                        Users
                                    </a>
                                </li>
                                <% end %>
                            </ul>
                        </div>
                        <!--end of menu module-->
                    </div>
                    <!--end of module group-->
                </div>
            </nav>
        </div>
